In [5]:
import pandas as pd

Dish_df = pd.read_csv("Dish.csv")
Menu_df = pd.read_csv("Menu.csv")
Menu_Item_df = pd.read_csv("MenuItem.csv")
Menu_Page_df = pd.read_csv("MenuPage.csv")

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
0,1,Consomme printaniere royal,NaN,8,8,1897,1927,0.20,0.40
1,2,Chicken gumbo,NaN,111,117,1895,1960,0.10,0.80
2,3,Tomato aux croutons,NaN,13,13,1893,1917,0.25,0.40
3,4,Onion au gratin,NaN,41,41,1900,1971,0.25,1.00
4,5,St. Emilion,NaN,66,68,1881,1981,0.00,18.00
5,7,Radishes,NaN,3263,3347,1854,2928,0.00,25.00
6,8,Chicken soup with rice,NaN,48,49,1897,1961,0.10,0.60
7,9,Clam broth (cup),NaN,14,16,1899,1962,0.15,0.40
8,10,"Cream of new asparagus, croutons",NaN,2,2,1900,1900,0.00,0.00
9,11,Clear green turtle,NaN,157,157,1893,1937,0.25,60.00
10,12,"Striped bass saute, meuniere",NaN,2,2,1900,1900,0.00,0.00
11,13,Anchovies,NaN,453,484,1858,1987,0.00,30.00
12,14,Fresh lobsters in every style,NaN,4,4,1899,1900,0.00,0.00
13,15,Celery,NaN,4246,4691,1,2928,0.00,50.00
14,16,Pim-olas,NaN,145,148,1897,1918,0.15,35.00
15,17,Caviar,NaN,506,535,1880,1987,0.00,75.00
16,18,Sardines,NaN,1426,1484,1856,2928,0.00,50.00
17,19,India chutney,NaN,16,16,1865,1901,0.10,0.20
18,20,Pickles,NaN,453,472,1852,1987,0.00,10.00
19,21,English walnuts,NaN,83,86,1851,1948,0.10,0.30
20,22,Pate de foies-gras,NaN,9,9,1898,1901,1.00,1.00
21,23,Pomard,NaN,11,11,1880,1950,0.75,5.00
22,24,"Brook trout, mountain style",NaN,2,2,1900,1900,0.00,0.00
23,25,"Whitebait, sauce tartare",NaN,4,4,1900,1901,0.30,0.75
24,26,Clams,NaN,170,180,1881,1970,0.10,0.90
25,27,Oysters,NaN,289,292,1862,1963,0.00,35.00
26,28,Claremont planked shad,NaN,2,2,1899,1900,1.50,2.50
27,29,G. H. Mumm & Co's Extra Dry,NaN,14,14,1895,1914,2.00,4.00
28,30,Cerealine with Milk,NaN,1,1,1901,1901,0.00,0.00
29,31,Sliced Bananas,NaN,220,238,1900,1987,0.00,15.00
...,...,...,...,...,...,...,...,...,...
424479,516760,HAMBURGER - PLAIN,NaN,1,1,0,0,0.00,0.00
424480,516761,"Ovos Tortilha ""Lyonnaise""",NaN,1,1,0,0,0.00,0.00
424481,516762,Roast Turkey Cranberry Sauce,NaN,1,1,0,0,0.00,0.00
424482,516763,Cold Tenderloin of Beef,NaN,1,1,0,0,0.00,0.00
424483,516764,Roast Quails with jelly,NaN,1,1,0,0,0.00,0.00
424484,516765,"G. H. Mumm's Extra Dry, Pts.",NaN,1,1,0,0,0.00,0.00
424485,516766,"G. H. Mumm's Extra Dry, Qts.",NaN,1,1,0,0,0.00,0.00
424486,516767,"Morizet Sec, Pts.",NaN,1,1,0,0,0.00,0.00
424487,516768,"Morizet Sec, Qts.",NaN,1,1,0,0,0.00,0.00
424488,516769,"Piper Heidsieck, Pts.",NaN,1,1,0,0,0.00,0.00
424489,516770,"Piper Heidsieck, Qts.",NaN,1,1,0,0,0.00,0.00
424490,516771,"Vve Clicquot, yellow label, Pts.",NaN,1,1,0,0,0.00,0.00
424491,516772,"Vve Clicquot, yellow label, Qts.",NaN,1,1,0,0,0.00,0.00
424492,516773,"Giesler & Co., Special Sec, Pts.",NaN,1,1,0,0,0.00,0.00
424493,516774,"Giesler & Co., Special Sec, Qts.",NaN,1,1,0,0,0.00,0.00
424494,516775,"Ruinart, père & fils, Pts.",NaN,1,1,0,0,0.00,0.00
424495,516776,"Ruinart, père & fils, Qts.",NaN,1,1,0,0,0.00,0.00
424496,516777,"Forest & Belleau, Pts.",NaN,1,1,0,0,0.00,0.00
424497,516778,"Forest & Belleau, Qts.",NaN,1,1,0,0,0.00,0.00
424498,516779,"Lamb Chops, Plain",NaN,1,1,0,0,0.00,0.00
424499,516780,Taittinger Comtes De Champagne Blanc De Blancs...,NaN,1,1,0,0,0.00,0.00
424500,516781,Xérès Tio Pepe (Gonzales Byass),NaN,1,1,0,0,0.00,0.00
424501,516782,"Clos Vougeot, 1961 (Louis Jadot - Estate Bottled)",NaN,1,1,0,0,0.00,0.00
424502,516783,Cornets de Saumon Fumé á la Russe,NaN,1,1,0,0,0.00,0.00
424503,516784,Barquettes de Homard á la Parisienne,NaN,0,0,0,0,0.00,0.00
424504,516785,Barquettes de Homard á la Parisienne,NaN,1,1,0,0,0.00,0.00
424505,516786,Vol-au-Vent de Fera-la Vallière,NaN,1,1,0,0,0.00,0.00
424506,516787,Selle d'agneau Lafayette - flambe - Sauce Madère,NaN,1,1,0,0,0.00,0.00
424507,516788,Carré de Venaison Renoir,NaN,1,1,0,0,0.00,0.00
424508,516789,Soufflé Glace Comtesse Marie,NaN,1,1,0,0,0.00,0.00